body{
background:#0b0b0b;
color:white;
font-family:Arial;
text-align:center;
}

.game-container{
display:flex;
justify-content:center;
align-items:flex-start;
gap:30px;
flex-wrap:wrap;
}

canvas{
border-radius:10px;
}

#gameCanvas{
background:#0b5e2b;
width:90vw;
max-width:1200px;
aspect-ratio:2/1;
}

.ui-panel{
width:200px;
}

.power-container{
width:100%;
height:15px;
background:#333;
margin:10px 0;
}

#powerBar{
height:100%;
width:0%;
background:lime;
}

#spinCanvas{
background:#222;
border-radius:50%;
cursor:pointer;
}
