body {
    margin: 0;
    background: #111;
    overflow: hidden; /* 🔥 clave */
}

.game-container {
    width: 100%;
    height: 100vh; /* 🔥 ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameCanvas{
  width: 100%;
  max-width: 100%;
  display: block;
}

.power-container{
  width: 90%;
    height: 10px;
    background: #333;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

#powerBar{
height:100%;
width:0%;
background:lime;
}

#spinCanvas {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

/* AJUSTE PARA CELULAR */
@media (max-width: 600px) {

    #spinCanvas {
        width: 100px;
        height: 100px;
    }

    .power-container {
        width: 95%;
    }

}
