html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #111;
    overflow: hidden;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

/* 🔥 USAR dvh (altura real del móvil) */
.game-container {
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

#gameCanvas {
    display: block;
    max-width: 100%;
}

/* barra */
.power-container {
    width: 90%;
    max-width: 500px;
    height: 10px;
    background: #333;
    margin: 8px 0;
    border-radius: 5px;
    overflow: hidden;
}

#powerBar {
    height: 100%;
    width: 0%;
    background: lime;
}

/* spin */
#spinCanvas {
    width: 90px;
    height: 90px;
    margin-top: 5px;
}
