/* Fondo espacial */
color: #15e0ff;
font-weight: bold;
}


/* LOGIN */
.login-container {
width: 90%;
max-width: 400px;
margin: 120px auto;
background: rgba(0, 0, 0, 0.7);
padding: 25px;
border-radius: 15px;
border: 1px solid #15e0ff;
box-shadow: 0 0 18px #15e0ff;
text-align: center;
}


.login-container h2 {
color: #15e0ff;
margin-bottom: 20px;
}


input {
width: 100%;
padding: 10px;
margin-bottom: 15px;
border-radius: 8px;
border: 1px solid #15e0ff;
background: black;
color: white;
}


.btn-login {
width: 100%;
padding: 12px;
background: #15e0ff;
color: black;
font-weight: bold;
border: none;
border-radius: 8px;
cursor: pointer;
transition: 0.3s;
}


.btn-login:hover {
background: white;
color: black;
}


#mensaje {
margin-top: 15px;
color: red;
font-size: 16px;
}
