body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 380px;
    background: #1b1b1b;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.4);
}

.login-logo {
    width: 90px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.login-title {
    color: #00d9ff;
    font-size: 25px;
    margin-bottom: 25px;
}

input {
    width: 90%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    background: #eaf1ff;
}

button {
    width: 90%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background: #00d7ff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #00b4d4;
}

.error-msg {
    color: #ff4f4f;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
}
